@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/bootstrap-utilities";
@import "../node_modules/bootstrap/scss/forms";


html,
#app {
    width: 100%;
    height: 100%;
}

body {
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
}

.code {
    margin: 0px;

    code {
        line-height: 20px;
        border-radius: 5px !important;
    }
}

.form-label {
    padding: 0;
    font-weight: bold;
}
