#VFeedback {
    width: var(--width);
    height: var(--height);
    padding: var(--padding);
    background: var(--bg-color);
    border-radius: var(--border-radius);
    border: var(--border-size) var(--border-type) var(--border-color);
    transform: translateX(var(--translateX)) translateY(var(--translateY));
    box-shadow: 0px 0px 10px 10px var(--shadow-color);
    font-family: inherit, Helvetica, sans-serif;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .question {
        font-weight: bold;

        .option {
            display: block;
        }
    }
}

// Buttons
.btn {
    border: none;
    padding: 10px 10px;
    border-radius: var(--border-radius);
    background: var(--button-background-color);
    color: var(--button-label-color);
}

// Positions
.bottomRight {
    right: 10px;
    bottom: 10px
}

.bottomLeft {
    left: 10px;
    bottom: 10px
}

.topRight {
    right: 10px;
    top: 10px
}

.topLeft {
    left: 10px;
    top: 10px
}

.bottomCenter {
    bottom: 10px;
    left: calc(50% - var(--width) / 2);
}

.topCenter {
    top: 10px;
    left: calc(50% - var(--width) / 2);
}

.center {
    top: calc(50% - var(--height) / 2);
    left: calc(50% - var(--width) / 2);
}

// Helpers
.no-shadow {
    box-shadow: none !important;
}