#VFeedback {
    width: var(--width);
    min-height: var(--height);
    padding: var(--padding);
    background: var(--bg-color);
    border-radius: var(--border-radius);
    border: var(--border-size) var(--border-type) var(--border-color);
    transform: translateX(var(--translateX)) translateY(var(--translateY));
    box-shadow: 0px 0px 10px 10px var(--shadow-color);
    font-family: inherit, Helvetica, sans-serif;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .question {
        font-weight: bold;

        .options {
            margin: 10px 0px;

            .option {
                display: block;
                margin-top: 7px;
                padding: 3px 0px;
                display: flex;
                gap: 4px;
                font-weight: normal;
                cursor: pointer;

                label {
                    cursor: pointer;
                    flex: 1;
                }
            }
        }
    }
}

// Buttons
.btn {
    border: none;
    padding: 10px 10px;
    border-radius: var(--border-radius);
    background: var(--button-background-color);
    color: var(--button-label-color);
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:disabled {
        opacity: 0.7;
    }

    &:hover {
        background: color-mix(in srgb, var(--button-background-color), #fff 15%);
    }
}

// Positions
.bottomRight {
    right: 10px;
    bottom: 10px
}

.bottomLeft {
    left: 10px;
    bottom: 10px
}

.topRight {
    right: 10px;
    top: 10px
}

.topLeft {
    left: 10px;
    top: 10px
}

.bottomCenter {
    bottom: 10px;
    left: calc(50% - var(--width) / 2);
}

.topCenter {
    top: 10px;
    left: calc(50% - var(--width) / 2);
}

.center {
    top: calc(50% - var(--height) / 2);
    left: calc(50% - var(--width) / 2);
}

// Helpers
.no-shadow {
    box-shadow: none !important;
}